ul li {
    margin-top: 10px;
}

ol li {
    margin-top: 10px;
}

h1 {
    text-align: center;
}

h2 {
    font-weight: bold;
    margin: 30px 0px;
}

h1, h2 {
    background-color: black;
    color: white;
    padding: 4px 16px;
}

.recipes-index {
    font-style: italic;
    font-size: larger;
}

.recipe-preview {
    display: block;
    margin: 0px auto;
    height: 300px;
    width: auto;
}